@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap");
.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  grid-template: 'myurlgrid' 15vh 'countdowngrid' 10vh 'starttaggrid' 5vh 'maingrid' 70vh 'skillsgrid' 65vh 'socialgrid' 25vh 'closetaggrid' 10vh / 1fr;
}

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template: 'myurlgrid    myurlgrid countdowngrid countdowngrid countdowngrid' 100px 'starttaggrid ........  ........      ........      .........' 50px 'socialgrid   maingrid  maingrid      maingrid      maingrid' 1fr 'skillsgrid   maingrid  maingrid      maingrid      maingrid' 1fr 'closetaggrid closetaggrid  closetaggrid      closetaggrid      closetaggrid' 75px / 20% 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    grid-template: 'myurlgrid    myurlgrid countdowngrid countdowngrid countdowngrid' 100px 'starttaggrid ........  ........      ........      .........' 50px 'socialgrid   maingrid  maingrid      maingrid      skillsgrid' 1fr 'closetaggrid closetaggrid  closetaggrid      closetaggrid      closetaggrid' 75px / 20% 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1366px) {
  .grid-container {
    grid-template: 'myurlgrid myurlgrid    myurlgrid countdowngrid countdowngrid countdowngrid countdowngrid' 100px '. starttaggrid ........  ........      ........      ......... .' 50px '. socialgrid   maingrid  maingrid      maingrid      skillsgrid .' 1fr 'closetaggrid closetaggrid closetaggrid  closetaggrid      closetaggrid      closetaggrid closetaggrid' 75px / 10% 20% 1fr 1fr 1fr 1fr 10%;
  }
}

.myurl {
  grid-area: myurlgrid;
}

.countdown {
  grid-area: countdowngrid;
}

.starttag {
  grid-area: starttaggrid;
}

.main {
  grid-area: maingrid;
}

.skills {
  grid-area: skillsgrid;
}

.social {
  grid-area: socialgrid;
}

.closetag {
  grid-area: closetaggrid;
}

.myurl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #342e37;
}

.myurl h1 {
  font-weight: 900;
  font-size: 3rem;
  color: #dce1e3;
  opacity: 30%;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  font-size: 0.8rem;
  background-color: #342e37;
  color: #736f72;
}

@media only screen and (min-width: 1024px) {
  .countdown {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .countdown {
    font-size: 1.2rem;
  }
}

.starttag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 20px;
  opacity: 30%;
}

.starttag img {
  max-width: 3.4rem;
}

@media only screen and (min-width: 768px) {
  .starttag img {
    max-width: 5rem;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;
}

.main img {
  width: 20%;
  max-width: 125px;
}

.main div.header {
  padding-top: 30px;
  font-size: 1.5rem;
  font-weight: 900;
  max-width: 500px;
}

.main div.header .header-title {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .main div.header {
    font-size: 2.5rem;
  }
  .main div.header .header-title {
    padding-bottom: 20px;
  }
}

.main span {
  color: #ffffff;
  font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {
  .main span {
    font-size: 2rem;
  }
}

.main div.aboutme {
  padding-top: 21px;
  font-size: 0.68rem;
  max-width: 600px;
  line-height: 1.6;
  color: #ffffff;
}

.main div.aboutme span.highlight {
  font-style: italic;
  font-size: 0.68rem;
}

@media only screen and (min-width: 768px) {
  .main div.aboutme span.highlight {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .main div.aboutme span.highlight {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .main div.aboutme {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .main div.aboutme {
    font-size: 1.25rem;
  }
}

.main button {
  background-color: #fafffd;
  color: #736f72;
  font-size: 1.5rem;
  font-weight: 900;
  border: none;
  border-radius: 20.5px;
  width: 220px;
  height: 41px;
  outline: none;
  cursor: pointer;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
}

@media only screen and (min-width: 768px) {
  .main button {
    margin: 2rem 0;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .skills {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 100px;
  }
}

.skills ul {
  list-style-type: none;
  line-height: 2rem;
  font-size: 0.875rem;
  font-weight: 300;
}

@media only screen and (min-width: 1366px) {
  .skills ul {
    font-size: 1.2rem;
    line-height: 3rem;
  }
}

.skills ul li:nth-child(odd) {
  color: #fafffd;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding-top: 100px;
  }
}

.social i {
  font-size: 4rem;
  margin: 20px;
  color: #342e37;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.social i.fa-linkedin-in:hover {
  color: #0072b1;
}

.social i.fa-github:hover {
  color: #509632;
}

.closetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 20px;
  background-color: #ffffff;
  border-radius: 50% 50% 0% 0%;
}

.closetag img {
  max-width: 3.7rem;
}

@media only screen and (min-width: 768px) {
  .closetag img {
    max-width: 4.3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #736f72;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
/*# sourceMappingURL=main.css.map */