@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap");
.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  grid-template: 'myurlgrid' 5vh 'countdowngrid' 5vh 'starttaggrid' 3vh 'maingrid' 87vh 'skillsgrid' 65vh 'socialgrid' 25vh 'closetaggrid' 10vh / 1fr;
}

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template: 'myurlgrid    myurlgrid     countdowngrid countdowngrid countdowngrid' 100px 'starttaggrid .........     .........     .........     .........' 50px 'socialgrid   maingrid      maingrid      maingrid      maingrid' 1fr 'skillsgrid   maingrid      maingrid      maingrid      maingrid' 1fr 'closetaggrid closetaggrid  closetaggrid  closetaggrid  closetaggrid' 75px / 20% 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    grid-template: 'myurlgrid    myurlgrid     countdowngrid countdowngrid countdowngrid' 100px 'starttaggrid .........     .........     .........     ..........' 50px 'socialgrid   maingrid      maingrid      maingrid      skillsgrid' 1fr 'closetaggrid closetaggrid  closetaggrid  closetaggrid  closetaggrid' 75px / 20% 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1366px) {
  .grid-container {
    grid-template: 'myurlgrid    myurlgrid    myurlgrid     countdowngrid countdowngrid countdowngrid countdowngrid' 100px '.........    starttaggrid .........     .........     .........     .........     .........' 50px '.........    socialgrid   maingrid      maingrid      maingrid      skillsgrid    .........' 1fr 'closetaggrid closetaggrid closetaggrid  closetaggrid  closetaggrid  closetaggrid  closetaggrid' 75px / 10% 20% 1fr 1fr 1fr 1fr 10%;
  }
}

.myurl {
  grid-area: myurlgrid;
}

.countdown {
  grid-area: countdowngrid;
}

.starttag {
  grid-area: starttaggrid;
}

.main {
  grid-area: maingrid;
}

.skills {
  grid-area: skillsgrid;
}

.social {
  grid-area: socialgrid;
}

.closetag {
  grid-area: closetaggrid;
}

.myurl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #342e37;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

.myurl h1 {
  color: #dce1e3;
  opacity: 10%;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .myurl h1 {
    font-weight: 900;
    font-size: 2.5rem;
  }
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  font-size: 0.8rem;
  background-color: #342e37;
  color: #736f72;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

.countdown span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (min-width: 1024px) {
  .countdown {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .countdown {
    font-size: 1.2rem;
  }
}

.starttag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 20px;
  opacity: 30%;
}

.starttag img {
  max-width: 3.4rem;
}

@media only screen and (min-width: 768px) {
  .starttag img {
    max-width: 5rem;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

.main img {
  width: 20%;
  max-width: 125px;
}

.main div.header {
  padding-top: 30px;
  font-size: 2rem;
  font-weight: 900;
  max-width: 500px;
  color: #fafffd;
}

.main div.header .header-title {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .main div.header {
    font-size: 2.5rem;
  }
  .main div.header .header-title {
    padding-bottom: 20px;
  }
}

.main span {
  font-size: 1.3rem;
  color: #736f72;
}

@media only screen and (min-width: 768px) {
  .main span {
    font-size: 2rem;
  }
}

.main div.aboutme {
  padding-top: 21px;
  font-size: 0.68rem;
  max-width: 600px;
  line-height: 1.6;
  color: #fafffd;
}

.main div.aboutme span.highlight {
  font-style: italic;
  font-size: 0.68rem;
  color: #736f72;
}

@media only screen and (min-width: 768px) {
  .main div.aboutme span.highlight {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .main div.aboutme span.highlight {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .main div.aboutme {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .main div.aboutme {
    font-size: 1.25rem;
  }
}

.main a {
  background-color: #fafffd;
  text-decoration: none;
  color: #736f72;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  border: none;
  border-radius: 20.5px;
  width: 220px;
  height: 41px;
  outline: none;
  position: relative;
  margin: 2rem 0;
  cursor: pointer;
  --border-size: 2px;
}

.contact-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20.5px;
  border: var(--border-size) solid #fafffd;
  -webkit-transition: top, left, right, bottom, 100ms ease-in-out;
  transition: top, left, right, bottom, 100ms ease-in-out;
  z-index: -1;
}

.contact-btn:hover::before,
.contact-btn:focus::before {
  border-radius: 30px;
  top: calc(var(--border-size) * -2);
  left: calc(var(--border-size) * -2);
  right: calc(var(--border-size) * -2);
  bottom: calc(var(--border-size) * -2);
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .skills {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 100px;
  }
}

.skills ul {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
  list-style-type: none;
  line-height: 2rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #dce1e3;
  cursor: none;
}

@media only screen and (min-width: 1366px) {
  .skills ul {
    font-size: 1.2rem;
    line-height: 3rem;
  }
}

.skills ul li:nth-child(odd) {
  color: #736f72;
}

.skills ul li:hover {
  font-weight: 900;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding-top: 100px;
  }
}

.social i {
  cursor: none;
  font-size: 4rem;
  margin: 20px;
  color: #736f72;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.social i.fa-linkedin-in:hover {
  color: #0072b1;
}

.social i.fa-github:hover {
  color: #509632;
}

.closetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7rem;
  color: #736f72;
  padding-left: 20px;
  background-color: #fafffd;
  border-radius: 50% 50% 0% 0%;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
}

.closetag img {
  max-width: 3.7rem;
}

@media only screen and (min-width: 768px) {
  .closetag img {
    max-width: 4.3rem;
  }
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 10px solid #fafffd;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #342e37;
  background-image: linear-gradient(45deg, #342e37, #342e37, #342e37, #736f72);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(45deg, #342e37, #342e37, #342e37, #342e37, #736f72);
  }
}
/*# sourceMappingURL=main.css.map */