@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap");
.grid-container {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  grid-template: 'myurlgrid' 15vh 'countdowngrid' 10vh 'starttaggrid' 5vh 'maingrid' 70vh 'skillsgrid' 65vh 'socialgrid' 25vh 'closetaggrid' 10vh / 1fr;
}

@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template: 'myurlgrid    myurlgrid countdowngrid countdowngrid countdowngrid' 100px 'starttaggrid ........  ........      ........      .........' 35px 'socialgrid   maingrid  maingrid      maingrid      maingrid' 1fr 'skillsgrid   maingrid  maingrid      maingrid      maingrid' 1fr 'closetaggrid maingrid  maingrid      maingrid      maingrid' 75px / 20% 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .grid-container {
    grid-template: 'myurlgrid    myurlgrid countdowngrid countdowngrid countdowngrid' 100px 'starttaggrid ........  ........      ........      .........' 35px 'socialgrid   maingrid  maingrid      maingrid      skillsgrid' 1fr 'closetaggrid maingrid  maingrid      maingrid      skillsgrid' 75px / 20% 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1366px) and (min-height: 1024px) {
  .grid-container {
    grid-template: 'myurlgrid    myurlgrid countdowngrid countdowngrid countdowngrid' 100px 'starttaggrid ........  ........      ........      .........' 35px 'socialgrid   maingrid  maingrid      maingrid      skillsgrid' 1fr 'closetaggrid maingrid  maingrid      maingrid      skillsgrid' 75px / 20% 1fr 1fr 1fr 1fr;
  }
}

.myurl {
  grid-area: myurlgrid;
}

.countdown {
  grid-area: countdowngrid;
}

.starttag {
  grid-area: starttaggrid;
}

.main {
  grid-area: maingrid;
}

.skills {
  grid-area: skillsgrid;
}

.social {
  grid-area: socialgrid;
}

.closetag {
  grid-area: closetaggrid;
}

.myurl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.myurl h1 {
  font-weight: 900;
  font-size: 3rem;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 100;
  font-size: 0.8rem;
}

@media only screen and (min-width: 1366px) and (min-height: 1024px) {
  .countdown {
    font-size: 1rem;
  }
}

.starttag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 20px;
  opacity: 30%;
}

.starttag img {
  max-width: 3.4rem;
}

@media only screen and (min-width: 768px) {
  .starttag img {
    max-width: 5rem;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;
}

.main img {
  width: 30%;
  max-width: 150px;
}

.main div.header {
  padding-top: 30px;
  font-size: 1.5rem;
  font-weight: 900;
  max-width: 500px;
}

@media only screen and (min-width: 768px) {
  .main div.header {
    font-size: 2.3rem;
  }
}

.main span {
  color: #c4c4c4;
}

.main div.aboutme {
  padding-top: 21px;
  font-size: 0.68rem;
  max-width: 600px;
}

.main div.aboutme span.highlight {
  text-decoration: underline;
  color: #c29d7a;
}

@media only screen and (min-width: 768px) {
  .main div.aboutme {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 1366px) and (min-height: 1024px) {
  .main div.aboutme {
    font-size: 1.25rem;
  }
}

.main button.contact-btn {
  background-color: #c27a7a;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 900;
  border: none;
  border-radius: 20.5px;
  width: 220px;
  height: 41px;
  outline: none;
  cursor: pointer;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .main button.contact-btn {
    margin: 2rem 0;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .skills {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 100px;
  }
}

.skills ul {
  list-style-type: none;
  line-height: 2rem;
  font-size: 0.875rem;
  font-weight: 300;
  opacity: 50%;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    padding-top: 100px;
  }
}

.social a {
  font-size: 4rem;
  margin: 20px;
  color: #000000;
}

.closetag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 20px;
  opacity: 30%;
}

.closetag img {
  max-width: 3.7rem;
}

@media only screen and (min-width: 768px) {
  .closetag img {
    max-width: 4.3rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #dddddd;
}
/*# sourceMappingURL=main.css.map */