$white: #ffffff;
$light-grey: #dce1e3;
$black: #342e37;
$darkgrey: #736f72;

// $attention: #a40606;
$attention: #a63d46;
$highlight: #3c91e6;
$background: #fafffd;

$linkedin: #0072b1;
$github: #509632;
