.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: $fw-light;
  font-size: 0.8rem;
  background-color: $background;
  color: $primary-gray;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  & span {
    display: flex;
    flex-direction: row;
  }
  @include tabletside {
    font-size: 1rem;
  }
  @include tabletproside {
    font-size: 1.2rem;
  }
}
