.grid-container {
  display: grid;
  height: 100vh;
  grid-template:
    'myurlgrid' 15vh
    'countdowngrid' 10vh
    'starttaggrid' 5vh
    'maingrid' 70vh
    'skillsgrid' 65vh
    'socialgrid' 25vh
    'closetaggrid' 10vh
    / 1fr;
  @include tablet {
    grid-template:
      'myurlgrid    myurlgrid     countdowngrid countdowngrid countdowngrid' 100px
      'starttaggrid ........      ........      ........      .........' 50px
      'socialgrid   maingrid      maingrid      maingrid      maingrid' 1fr
      'skillsgrid   maingrid      maingrid      maingrid      maingrid' 1fr
      'closetaggrid closetaggrid  closetaggrid  closetaggrid  closetaggrid' 75px
      / 20% 1fr 1fr 1fr 1fr;
  }
  @include tabletside {
    grid-template:
      'myurlgrid    myurlgrid countdowngrid countdowngrid countdowngrid' 100px
      'starttaggrid ........  ........      ........      .........' 50px
      'socialgrid   maingrid  maingrid      maingrid      skillsgrid' 1fr
      'closetaggrid closetaggrid  closetaggrid      closetaggrid      closetaggrid' 75px
      / 20% 1fr 1fr 1fr 1fr;
  }

  @include tabletproside {
    grid-template:
      'myurlgrid myurlgrid    myurlgrid countdowngrid countdowngrid countdowngrid countdowngrid' 100px
      '. starttaggrid ........  ........      ........      ......... .' 50px
      '. socialgrid   maingrid  maingrid      maingrid      skillsgrid .' 1fr
      'closetaggrid closetaggrid closetaggrid  closetaggrid      closetaggrid      closetaggrid closetaggrid' 75px
      / 10% 20% 1fr 1fr 1fr 1fr 10%;
  }
}

.myurl {
  grid-area: myurlgrid;
  // border: 1px solid black;
}

.countdown {
  grid-area: countdowngrid;
  // border: 1px solid black;
}

.starttag {
  grid-area: starttaggrid;
  // border: 1px solid black;
}

.main {
  grid-area: maingrid;
  // border: 1px solid black;
}

.skills {
  grid-area: skillsgrid;
  // border: 1px solid black;
}

.social {
  grid-area: socialgrid;
  // border: 1px solid black;
}

.closetag {
  grid-area: closetaggrid;
  // border: 1px solid black;
}
