.main {
  display: flex;
  flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;

  & img {
    width: 30%;
    max-width: 125px;
  }
  & div.header {
    padding-top: 30px;
    font-size: 1.5rem;
    font-weight: $fw-bold;
    max-width: 500px;
    @include tablet {
      font-size: 2.3rem;
    }
  }
  & span {
    color: $light-grey;
  }

  & div.aboutme {
    padding-top: 21px;
    font-size: 0.68rem;
    max-width: 600px;
    color: $white;
    & span.highlight {
      text-decoration: underline;
      font-size: 1rem;
      font-weight: 900;
      color: $background;
    }
    @include tablet {
      font-size: 0.9rem;
    }
    @include tabletproside {
      font-size: 1.25rem;
    }
  }

  & button {
    background-color: $attention;
    color: $white;
    font-size: 1.5rem;
    font-weight: $fw-bold;
    border: none;
    border-radius: 20.5px;
    width: 220px;
    height: 41px;
    outline: none;
    cursor: pointer;
    margin: auto;
    transition: 1s;

    @include tablet {
      margin: 2rem 0;
    }
  }
}

// .contact-btn:hover {
//   background-color: blue;
// }
