.myurl {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  & h1 {
    color: $primary-gray-light;
    opacity: 30%;
    font-size: 1rem;
    @include tablet {
      font-weight: 900;
      font-size: 3rem;
    }
  }
}
