.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tabletside {
    align-items: unset;
    justify-content: center;
    padding: 100px;
  }

  & ul {
    list-style-type: none;
    line-height: 2rem;
    font-size: 0.875rem;
    font-weight: $fw-normal;
    opacity: 50%;
  }
}
