.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  @include tabletside {
    align-items: unset;
    justify-content: center;
    padding-top: 100px;
  }

  & ul {
    list-style-type: none;
    line-height: 2rem;
    font-size: 0.875rem;
    font-weight: $fw-normal;
    color: $darkgrey;
    @include tabletproside {
      font-size: 1.2rem;
      line-height: 3rem;
    }
    & li:nth-child(odd) {
      color: $background;
    }
  }
}
