.social {
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    flex-direction: column;
    justify-content: unset;
    padding-top: 100px;
  }

  & a {
    font-size: 4rem;
    margin: 20px;
    color: $black;
  }
}
