@import 'responsive';
@import 'grid';
@import 'myurl';
@import 'colors';
@import 'typography';
@import 'countdown';
@import 'starttag';
@import 'main';
@import 'skills';
@import 'social';
@import 'closetag';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $ff-s;
}
